<!DOCTYPE html>
<html lang="en">
{% include 'main/head.html.twig' %}
<body>
<!-- HEADER -->
{% include 'main/header.html.twig' %}
<!-- /HEADER -->

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="/">Home</a></li>
                    <li class="active">You`re account</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Account main-->
            <h3 class="footer-title">Information</h3>

            <div class="user-info">
                <div class="account-img">
                    <img src="{{ asset('style/img/account.png') }}" width="150" height="150" alt="account image">
                </div>
                <div class="col-xs-6">
                    <ul class="account-inf">
                        <li style="display: flex"><p class="bold-line">Email:&nbsp;</p> {{ app.user.email }}</li>
                        <li style="display: flex"><p class="bold-line">Username:&nbsp;</p> {{ app.user.username }}</li>
                        <li style="display: flex"><p class="bold-line">Phone number:&nbsp;</p> {{ app.user.phone }}</li>
                    </ul>
                </div>
            </div>

            <div class="row" >
                <!-- addProduct -->

            </div>

            <!-- Account main -->
            <div class="col-md-5">
                <div class="product-details">

                </div>
            </div>
            <!-- /Product details -->

            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">You`re products({{ app.user.products | length }}) </a></li>
                        <li><a data-toggle="tab" href="#tab2">Reviews of your products:</a></li>
                    </ul>
                    <!-- /product tab nav -->

                    <!-- product tab content -->
                    <div class="tab-content">
                        <div class="col-md-12">
                            {% if message is defined %}
                                <div class="section-title text-center alert alert-success">
                                    <h3 class="title">{{ message }}</h3>
                                </div>
                            {% endif %}
                        </div>
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="create-button-container">
                                        <button id="getCreateProductForm" type="submit" class="create-button" data-toggle="modal" data-target="#createModal">Create new product</button>
                                    </div>
                                    <!-- products -->
                                    {% set products = app.user.products %}
                                    {% for product in products %}
                                        <div class="col-md-4 col-xs-6" id="{{ product.name }}-{{ product.id }}">
                                            <div id="product-{{ product.id }}" class="product">
                                                <div class="product-img">
                                                    {% if product.brochureFilename != null %}
                                                        {% set a =  brochures_directory~product.brochureFilename %}
                                                        <img src="{{ asset(brochures_directory~product.brochureFilename) }}" alt="{{ a }} image" style="max-height: 195px">
                                                    {% else %}
                                                        <img src="{{ asset('./uploads/brochures/girl.jpg') }}" alt="test image">
                                                    {% endif %}
                                                    <div class="product-label">
                                                        <span class="new">NEW</span>
                                                    </div>
                                                </div>
                                                <div class="product-body">
                                                    <p class="product-category">{{ product.category.name }}</p>
                                                    <h3 class="product-name cut-and-hide"><a href="{{ path('app_product_show', { id: product.id }) }}"><span class="name-product">{{ product.name }}</span></a></h3>
                                                    {% if product.discount != 0 %}
                                                        <h4 class="product-price"> ${{ product.discount }}<del class="product-old-price"> ${{ product.price }} </del></h4>
                                                    {% else %}
                                                        <h4 class="product-price"> ${{ product.price }} </h4>
                                                    {% endif %}
                                                    <div class="product-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="product-btns">
                                                        <a href="#" id ="deleteProduct" onclick="getEditProductForm('{{ product.id }}')" data-toggle="modal" data-target="#createModal"><i class="fa fa-edit"></i>Edit</a>
                                                        <a href="#" id ="deleteProduct" onclick="deleteProduct('{{ product.id }}')"><i class="fa fa-remove"></i>Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->

                        <!-- tab2  -->
                        <div id="tab2" class="tab-pane fade in">
                            <div class="row" style="margin-left: 15%">
                                <!-- Reviews -->
                                {% for product in products %}
                                    {% for review in product.getReviews() %}
                                        <div class="col-md-6" style="width: 70%">
                                            <div id="reviews">
                                                <ul class="reviews">
                                                    <li>
                                                        <div class="review-heading">
                                                            <h5 class="name">{{ review.user.username }}</h5>
                                                            <p class="date">{{ review.date | date("F j, Y, H:i:s") }}</p>
                                                            {% for rating in 1..5 %}
                                                                {% if rating <= product.getAverageRating %}
                                                                    <i class="fa fa-star"></i>
                                                                {% else %}
                                                                    <i class="fa fa-star-o"></i>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                        <div class="review-body">
                                                            <p>{{ review.comment }}</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- /Reviews -->

                                        <!-- Products -->
                                        <div class="col-md-1">
                                            <div class="product"  style="margin: 0px">
                                                <div class="product-body" style="padding: 10px 0px 0px 0px">
                                                    <h3 class="product-name cut-and-hide"><a href="{{ path('app_product_show', { id: product.id }) }}"><span class="name-product">{{ product.name }}</span></a></h3>
                                                </div>
                                                <div class="product-img">
                                                    {% if product.brochureFilename != null %}
                                                        {% set a =  brochures_directory~product.brochureFilename %}
                                                        <img src="{{ asset(brochures_directory~product.brochureFilename) }}" alt="{{ a }} image" style="max-height: 195px">
                                                    {% else %}
                                                        <img src="{{ asset('./uploads/brochures/girl.jpg') }}" alt="test image">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                <div class="col-md-6">
                                    <ul class="reviews-pagination">
                                        <li class="active">1</li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </div>
                                <!-- /Products -->
                            </div>
                        </div>
                        <!-- /tab2  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- FOOTER -->
{% include 'main/footer.html.twig' %}
<!-- /FOOTER -->

<!-- MODAL -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="Create form" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {#<div class="modal-header">

            </div>#}
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>

                </p>
            </div>
        </div>
    </div>
</div>
<!-- /MODAL -->

<!-- jQuery Plugins -->
{% block javascripts %}
    <script src="{{ asset('style/js/jquery.min.js') }}"></script>
    <script src="{{ asset('style/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('style/js/slick.min.js') }}"></script>
    <script src="{{ asset('style/js/nouislider.min.js') }}"></script>
    <script src="{{ asset('style/js/jquery.zoom.min.js') }}"></script>
    <script src="{{ asset('style/js/main.js') }}"></script>

    <script>
        function deleteProduct(productId) {
            $.ajax({
                url:        '/product/delete/'+productId,
                type:       'POST',
                dataType:   'json',
                async:      true,
                data:  { productId: productId},

                success: function(data) {
                    let productInModal = document.getElementById(data.productName+'-'+productId);
                    productInModal.style.display = "none";
                },
                error : function() {
                    alert('Ajax request failed.');
                }
            });
        }

        function getEditProductForm(productId) {
            console.log("darowenki edit");
            console.log("productId = , " + productId);
            $.ajax({
                url: '{{ path('get_product_form') }}',
                type: 'PUT',
                data:  { productId: productId},

                success: function(response) {
                    console.log('success');
                    console.log('response = ' + response);
                    // $('#createModal .modal-body p').empty();
                    $('#createModal .modal-body p').html(response);

                },
                error : function() {
                    alert('Ajax request failed.');
                }
            });
        }

        $(document).ready(function () {
            $('#createModal').on('hidden.bs.modal', function () {
                console.log("uuuuuuu");
                $('#createModal .modal-body p').empty();
            });
            $('button#getCreateProductForm').on('click', function () {
                console.log("darowenki buly");

                $.ajax({
                    url: '{{ path('get_product_form') }}',
                    success: function (response) {
                        console.log('success');
                        // $('#createModal .modal-body p').empty();
                        $('#createModal .modal-body p').html(response);
                        // var formss = $('[name="product"]');

                        console.log('response = ');

                    },
                    error: function () {
                        alert('Ajax request failed.');
                    }
                });
            });
            $(function () {
                $('body').on('click', '#editProductButton', function (){
                    console.log("darowenki buly editProductButton");
                    var productId = $(this).attr('data-id');
                    var TEST = '{{ path('app_product_edit', {'id': '__PRODUCT_ID__'}) }}'.replace('__PRODUCT_ID__', productId);
                    console.log("TEST = " + TEST);
                    $.ajax({
                        url: '{{ path('app_product_edit', {'id': '__PRODUCT_ID__'}) }}'.replace('__PRODUCT_ID__', productId),
                        method: 'POST',
                        success: function () {
                            console.log('success');
                            alert('success');
                        },
                        error: function () {
                            alert('Ajax request failed.');
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}

</body>
</html>
