<!DOCTYPE html>
<html lang="en">
{% include 'main/head.html.twig' %}
<body>
<!-- HEADER -->
{% include 'main/header.html.twig' %}
<!-- /HEADER -->

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="/">Home</a></li>
                    <li class="active">You`re account</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Account main-->
            <h3 class="footer-title">Information</h3>

            <div class="user-info">
                <div class="account-img">
                    <img src="{{ asset('style/img/account.png') }}" width="150" height="150" alt="account image">
                </div>
                <div class="col-xs-6">
                    <ul class="account-inf">
                        <li style="display: flex"><p class="bold-line">Email:&nbsp;</p> {{ app.user.email }}</li>
                        <li style="display: flex"><p class="bold-line">Username:&nbsp;</p> {{ app.user.username }}</li>
                        <li style="display: flex"><p class="bold-line">Phone number:&nbsp;</p> {{ app.user.phone }}</li>
                    </ul>
                </div>
            </div>

            <div class="row" >
                <!-- addProduct -->

            </div>

            <!-- Account main -->
            <div class="col-md-5">
                <div class="product-details">

                </div>
            </div>
            <!-- /Product details -->

            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">You`re products({{ app.user.products | length }}) </a></li>
                        <li><a data-toggle="tab" href="#tab2">Reviews of your products:</a></li>
                        <li><a data-toggle="tab" href="#tab3">You`re orders({{ app.user.orders | length }}) </a></li>
                    </ul>
                    <!-- /product tab nav -->

                    <!-- product tab content -->
                    <div class="tab-content">
                        <div class="col-md-12">
                            {% if message is defined %}
                                <div class="section-title text-center alert alert-success">
                                    <h3 class="title">{{ message }}</h3>
                                </div>
                            {% endif %}
                        </div>
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="create-button-container">
                                        <button id="getCreateProductForm" type="submit" class="create-button" data-toggle="modal" data-target="#createModal">Create new product</button>
                                    </div>
                                    <!-- products -->
                                    {% set products = app.user.products %}
                                    {% for product in products %}
                                        <div class="col-md-4 col-xs-6" id="{{ product.name }}-{{ product.id }}" style="min-height: 500px">
                                            <div id="product-{{ product.id }}" class="product">
                                                <div class="product-img">
                                                    {% if product.brochureFilename != null %}
                                                        <img src="{{ asset(brochures_directory~product.brochureFilename) }}" alt="{{ product.name }}-image" class="img-product">
                                                    {% else %}
                                                        <img src="{{ asset('./uploads/brochures/girl.jpg') }}" alt="test image">
                                                    {% endif %}
                                                    <div class="product-label">
                                                        {% if product.user.username is defined %}
                                                            <span class="new">{{ product.user.username }}</span>
                                                        {% else %}
                                                            <span class="new">Admin</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="product-body">
                                                    <p class="product-category">{{ product.category.name }}</p>
                                                    <h3 class="product-name cut-and-hide"><a href="{{ path('app_product_show', { id: product.id }) }}"><span class="name-product">{{ product.name }}</span></a></h3>
                                                    {% if product.discount != 0 %}
                                                        <h4 class="product-price"> ${{ product.discount }}<del class="product-old-price"> ${{ product.price }} </del></h4>
                                                    {% else %}
                                                        <h4 class="product-price"> ${{ product.price }} </h4>
                                                    {% endif %}
                                                    <div class="product-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="product-btns">
                                                        <a href="#" onclick="getEditProductForm('{{ product.id }}')" data-toggle="modal" data-target="#createModal"><i class="fa fa-edit"></i>Edit</a>
                                                        <a href="#" id ="deleteProduct" data-id="{{ product.id }}"><i class="fa fa-remove"></i>Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->

                        <!-- tab2  -->
                        <div id="tab2" class="tab-pane fade in">
                            <div class="row" style="margin-left: 15%">
                                <!-- Reviews -->
                                {% for product in products %}
                                    {% for review in product.getReviews() %}
                                        <div class="col-md-8">
                                            <div id="reviews">
                                                <img src="{{ asset('style/img/account.png') }}" width="50" height="50" style="float: left; padding-right: 5px" alt="account image">
                                                <ul class="reviews">
                                                    <li style="display: flex">
                                                        <div class="review-heading">
                                                            <h5 class="name">{{ review.user.username }}</h5>
                                                            <p class="date">{{ review.date | date("F j, Y, H:i:s") }}</p>
                                                            {% for rating in 1..5 %}
                                                                {% if rating <= product.getAverageRating %}
                                                                    <i class="fa fa-star"></i>
                                                                {% else %}
                                                                    <i class="fa fa-star-o"></i>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                        <div class="review-body">
                                                            <p>{{ review.comment }}</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- /Reviews -->

                                        <!-- Products -->
                                        <div class="col-md-2">
                                            <div class="product-img">
                                                {% if product.brochureFilename != null %}
                                                    <a href="{{ path('app_product_show', { id: product.id }) }}"><img src="{{ asset(brochures_directory~product.brochureFilename) }}" alt="{{ product.name }}-image" class="img-product" style="max-height: 90px"></a>
                                                {% else %}
                                                    <a href="{{ path('app_product_show', { id: product.id }) }}"><img src="{{ asset('./uploads/brochures/girl.jpg') }}" alt="test image"></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {#<div class="col-md-6">
                                    <ul class="reviews-pagination">
                                        <li class="active">1</li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </div>#}
                                <!-- /Products -->
                            </div>
                        </div>
                        <!-- /tab2  -->

                        <!-- tab3  -->
                        <div id="tab3" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-12">
                                    {% for order in app.user.orders %}
                                        <div class="col-md-4 col-xs-6">
                                            <div id="product" class="product">
                                                <div class="product-body" style="padding: 10px 0px 0px 0px">
                                                    <h3 class="product-name cut-and-hide">Total price: {{ order.totalPrice }}</h3> 
                                                </div>
                                                <div class="product-body">
                                                    <p class="date">{{ order.date | date("F j, Y, H:i:s") }}</p>
                                                    <p class="paid">Paid for:
                                                        {% if order.paidFor %}
                                                        Yes <i class="fa fa-check"></i>
                                                        {% else %}
                                                            No <i class="fa fa-remove"></i>
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- /tab3  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- FOOTER -->
{% include 'main/footer.html.twig' %}
<!-- /FOOTER -->

<!-- MODAL -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="Create form" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {#<div class="modal-header">

            </div>#}
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>

                </p>
            </div>
        </div>
    </div>
</div>
<!-- /MODAL -->

<!-- jQuery Plugins -->
{% block javascripts %}

    <script>
        function getEditProductForm(productId) {
            $.ajax({
                url: '{{ path('get_product_form') }}',
                type: 'PUT',
                data:  { productId: productId},

                success: function(response) {
                    $('#createModal .modal-body p').html(response);

                },
                error : function() {
                    alert('Ajax request failed.');
                }
            });
        }

        $(document).ready(function () {
            $('#createModal').on('hidden.bs.modal', function () {
                $('#createModal .modal-body p').empty();
            });
            $('button#getCreateProductForm').on('click', function () {
                $.ajax({
                    url: '{{ path('get_product_form') }}',
                    success: function (response) {
                        $('#createModal .modal-body p').html(response);
                    },
                    error: function () {
                        alert('Ajax request failed.');
                    }
                });
            });
            $(function () {
                $('body').on('click', '#deleteProduct', function (){
                    var productId = $(this).attr('data-id');

                    $.ajax({
                        url:        '/product/delete/'+productId,
                        type:       'POST',
                        dataType:   'json',
                        async:      true,
                        data:  { productId: productId},

                        success: function(data) {
                            let productInModal = document.getElementById(data.productName+'-'+productId);
                            productInModal.style.display = "none";
                        },
                        error : function() {
                            alert('Ajax request failed.');
                        }
                    });
                });
                let subtotal = 0;
                let userCart = [];

                {% for uC in (app.user.email is defined ? app.user.carts : 0) %}
                userCart.push({
                    productId: {{ uC.product.id }},
                    price: {{ uC.product.discount == 0 ?  uC.product.price : uC.product.discount }},
                });

                {% endfor %}

                for (let i = 0 ; i < userCart.length; i++){
                    subtotal+= userCart[i].price;
                }

                let cartSummary = document.getElementById('cart-summary');

                cartSummary.innerHTML = '<small>' + userCart.length + ' Item(s) selected</small><h5>SUBTOTAL: $' + subtotal + '</h5>';
            });
        });
    </script>
{% endblock %}

</body>
</html>
