<!DOCTYPE html>
<html lang="en">
<!-- HEAD-->
{% include 'main/head.html.twig' %}
<!-- HEAD-->
<body>
<!-- HEADER -->
{% include 'main/header.html.twig' %}
<!-- /HEADER -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- STORE -->
                        <div class="panel-position">
                            <div class="panel">
                                <h3>Registration</h3>
                                <div class="panel-container">
                                    {{ form_start(registrationForm) }}
                                            {{ form_row(registrationForm.email, {'attr': {'class': 'input', 'type': 'email' } }) }}
                                            {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'input'} }) }}
                                            {{ form_row(registrationForm.username, {'attr': {'class': 'input'} }) }}
                                            {{ form_row(registrationForm.phone, {'attr': {'class': 'input'} }) }}
                                            <span style="padding: 5px">{{ form_row(registrationForm.agreeTerms) }}</span>
                                            <button  type="submit" class="panel-continue">Sing up</button>
                                    {{ form_end(registrationForm) }}
                                </div>
                            </div>
                        </div>
                <!-- /store products -->

            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- /SECTION -->

<!-- FOOTER -->
{% include 'main/footer.html.twig' %}
<!-- /FOOTER -->
<!-- jQuery Plugins -->
<script src="{{ asset('style/js/jquery.min.js') }}"></script>
<script src="{{ asset('style/js/jquery.min.js') }}"></script>
<script src="{{ asset('style/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('style/js/slick.min.js') }}"></script>
<script src="{{ asset('style/js/nouislider.min.js') }}"></script>
<script src="{{ asset('style/js/jquery.zoom.min.js') }}"></script>
<script src="{{ asset('style/js/main.js') }}"></script>

</body>
</html>

{% block title %}Register{% endblock %}

