<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" type="image/jpg" href="{{ asset('./style/img/dyplomnaFavicon.png') }}" />

    <title>Dyplomna</title>

    {% block stylesheets %}
        <style>
            .cut-and-hide {
                overflow: hidden;
                text-overflow:ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                white-space: normal;
            }
            .panel-position {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 80vh;
            }

            .panel {
                height: 400px;
                width: 350px;
                border-radius: 15px;
                box-shadow: 0 8px 36px -16px gray;
            }

            .panel-container {
                padding: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                border: #15161D 2px solid;
                color: #15161D;

            }

            .panel-input {
                padding: 6px;
                border-radius: 5px;
                border: 1px solid gray;
                outline: gray solid 0px;
                transition: 0.1s;
            }

            .panel-inputs {
                height: 100px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 2rem;
            }

            .panel-input:hover {
                outline: gray solid 1px;
            }

            .panel-input:focus-visible {
                outline: rgb(0, 110, 255) solid 2px;
            }

            .panel-title {
                margin: 0;
                font-size: 2rem;
                color: rgb(0, 110, 255);
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }

            .panel-continue {
                background-color: transparent;
                border: #15161D 2px solid;
                color: #15161D;
                border-radius: 5px;
                padding: 10px;
                width: 150px;
                cursor: pointer;
                text-transform: uppercase;
                font-weight: bold;
                transition: 0.4s;
            }
            .my-account {
                position: relative;
            }

            .my-account .box-slide {
                display: none;
                position: absolute;
                left: 1px;
                right: 1px;
                bottom: 1px;
                padding: 15px;
                background: #1e1f29;
                -webkit-transform: translateY(0%);
                -ms-transform: translateY(0%);
                transform: translateY(0%);
                -webkit-transition: 0.2s all;
                transition: 0.2s all;
                z-index: 2;
                min-width: 150px
            }

            .my-account:hover .box-slide {
                display: block;
                -webkit-transform: translateY(100%);
                -ms-transform: translateY(100%);
                transform: translateY(100%);
            }

            .padding {
                padding: 10px;
            }

            /* The Modal (background) */
            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }

            /* Modal Content/Box */
            .modal-content {
                background-color: #fefefe;
                margin: 15% auto; /* 15% from the top and centered */
                padding: 20px;
                border: 1px solid #888;
                width: 80%; /* Could be more or less, depending on screen size */
                height: auto;
            }

            /* The Close Button */
            .close {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
            /* User Modal */
            .user-info {
                display: flex;
                align-content: center;
                margin: 3rem
            }
            .account-img {
                margin-right: 3rem
            }
            .account-inf {
                font-size: 2rem
            }
            .bold-line {
                font-size: 2rem;
                font-weight: bold
            }
            .create-button {
                background-color: transparent;
                border: #15161D 2px solid;
                color: #15161D;
                border-radius: 5px;
                padding: 10px 300px;
                cursor: pointer;
                text-transform: uppercase;
                font-weight: bold;
                transition: 0.4s;
            }
            .create-button-container  {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px
            }

            .rating-stars .fa {
                cursor: pointer;
            }

            .rating-stars .fa-star-o {
                color: red;
            }

            .rating-stars .fa-star {
                color: gold;
            }

            .product-rating i {
                color: black; /* Цвет звездочек по умолчанию */
            }

            .product-rating i.blue-star {
                color: blue; /* Синий цвет для активных звездочек */
            }

            .buy-btn {
                position: relative;
                border: 2px solid transparent;
                height: 40px;
                padding: 0 30px;
                background-color: #000000;
                color: #FFFFFF;
                text-transform: uppercase;
                font-weight: 700;
                border-radius: 40px;
                -webkit-transition: 0.2s all;
                transition: 0.2s all;
            }
            .added-to-cart{
                background-color: #00e765;
                color: #FFFFFF;
                position: relative;
                border: 2px solid transparent;
                height: 40px;
                padding: 0 30px;
                text-transform: uppercase;
                font-weight: 700;
                border-radius: 40px;
                -webkit-transition: 0.2s all;
                transition: 0.2s all;
            }

            body {
                background: #f9f9f9;
                font-family: "roboto", sans-serif;
            }
            a {
                text-decoration: none;
            }
            .btn{
                width: 100%;
            }
            .main-content {
                padding-top: 100px;
                padding-bottom: 100px;
            }
            .shadow {
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06) !important;
            }
            .payment-card__type {
                background: #eee;
            }
            .payment-card__type img {
                width: 50%;
            }
            .add-payment {
                min-height: 290px;
                background: #eee;
                cursor: pointer;
            }
            /* Credit Card */
            .credit-card {
                width: 360px;
                margin: 15px auto 0;
                border: 1px solid #ddd;
                border-radius: 6px;
                background-color: #fff;
                box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
            }
            .form-header {
                height: 60px;
                padding: 20px 30px 0;
                border-bottom: 1px solid #E1E8EE;
            }
            .form-body {
                height: 180px;
            }
            .card-number, .cvv-input input, .month select, .paypal-btn, .proceed-btn, .year select {
                height: 42px;
            }
            .card-number, .cvv-input input, .month select, .year select {
                font-size: 14px;
                font-weight: 100;
                line-height: 14px;
            }
            .card-number, .cvv-details, .cvv-input input, .month select, .year select {
                color: #86939e;
                opacity: .7;
            }
            .card-number {
                width: 100%;
                margin-bottom: 20px;
                padding-left: 20px;
                border: 2px solid #e1e8ee;
                border-radius: 6px;
            }
            .month select, .year select {
                -moz-appearance: none;
                -webkit-appearance: none;
                width: 170px;
                margin-bottom: 20px;
                padding-left: 20px;
                border: 2px solid #e1e8ee;
                border-radius: 6px;
                background-position: 85% 50%;
            }
            .month select {
                float: left;
            }
            .year select {
                float: right;
            }
            /* Card Verification Field */
            .cvv-input input {
                width: 145px;
                float: left;
                padding-left: 20px;
                border: 2px solid #e1e8ee;
                border-radius: 6px;
                background: #fff;
            }
            .cvv-details {
                float: right;
                margin-bottom: 20px;
                font-size: 12px;
                font-weight: 300;
                line-height: 16px;
            }
            .cvv-details p {
                margin-top: 6px;
            }

            .img-product {
                max-width: 100%; /* Ограничение максимальной ширины изображения */
                max-height: 300px; /* Ограничение максимальной высоты изображения */
                object-fit: contain; /* Сохраняет пропорции изображения при изменении размеров */
            }

            .box-product {
                min-height: 500px
            }
            .img-div {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .to-center{
                display: flex;
                flex-direction: column;
                align-items: center
            }
        </style>
    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="{{ asset('style/css/bootstrap.min.css') }}"/>

    <link type="text/css" rel="stylesheet" href="{{ asset('style/css/slick.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('style/css/slick-theme.css') }}"/>

    <link type="text/css" rel="stylesheet" href="{{ asset('style/css/nouislider.min.css') }}"/>

    <link rel="stylesheet" href="{{ asset('style/css/font-awesome.min.css') }}"/>

    <link type="text/css" rel="stylesheet" href="{{ asset('style/css/style.css') }}"/>

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>