<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#" id="copyPhone" onclick="copyText('copyPhone')"><i class="fa fa-phone"></i> +48883602197</a></li>
                <li><a href="#" id="copyMail" onclick="copyText('copyMail')"><i class="fa fa-envelope-o"></i> poseva41@gmail.com</a></li>
                <li><a href="https://www.google.com/maps?q=Lublin,+Poland" target="_blank"><i class="fa fa-map-marker"></i>Lublin Poland</a></li>
            </ul>
            <ul class="header-links pull-right">
                {% if app.user.email is defined %}
                    <li class="my-account">
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <a href="/admin"><i class="fa fa-user-o"></i>Admin panel</a>
                        {% else %}
                            <a href="/account/show"><i class="fa fa-user-o"></i>{{ app.user.email }}</a>
                        {% endif %}
                        <div class="box-slide">
                            <p><a href="/logout" ><i class="fa fa-remove"></i>Log out</a></p>
                        </div>
                    </li>
                {% else %}
                    <li class="my-account">
                        <a href="#" ><i class="fa fa-male"></i>My account</a>
                        <div class="box-slide">
                            <p><a href="/login" ><i class="fa fa-user-o"></i>Log in</a></p>
                            <p><a href="/register" ><i class="fa fa-registered"></i>Registration</a></p>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="/" class="logo">
                            <img src="{{ asset('./style/img/$ellket.png') }}" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form action="{{ path('app_main_search') }}" name="search" method="post">
                            <input id="search" name="search" class="input" placeholder="Search here">
                            <button class="search-btn" type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Cart -->
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                {% if app.user.email is defined %}
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Your Cart</span>
                                    <div class="qty" id="cartCount">{{ app.user.carts | length }}</div>
                                {% endif %}
                            </a>
                            <div class="cart-dropdown">
                                <div class="cart-list">
                                    {% for cart in app.user.email is defined ? app.user.carts : 0 %}
                                    <div class="product-widget">
                                        <div class="product-img">
                                            {% if cart.product.brochureFilename != null %}
                                                {% set a =  brochures_directory~cart.product.brochureFilename %}
                                                <img src="{{ asset(brochures_directory~cart.product.brochureFilename) }}" alt="{{ a }} image" style="max-height: 195px">
                                            {% else %}
                                                <img src="{{ asset('./uploads/brochures/girl.jpg') }}" alt="test image">
                                            {% endif %}
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name cut-and-hide"><a href="{{ path('app_product_show', { id: cart.product.id }) }}"><span class="name-product">{{ cart.product.name }}</span></a></h3>
                                            {% if cart.product.discount != 0 %}
                                                <h4 class="product-price"> $<span class="price-product">{{ cart.product.discount }} </span><del class="product-old-price"> ${{ cart.product.price }} </del></h4>
                                            {% else %}
                                                <h4 class="product-price"> $<span class="price-product">{{ cart.product.price }} </span></h4>
                                            {% endif %}
                                        </div>
                                        <button class="delete"><i class="fa f-aclose"></i></button>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="cart-summary" id="cart-summary">
                                    <small>3 Item(s) selected</small>
                                    <h5>SUBTOTAL: $2940.00</h5>
                                </div>
                                <div class="cart-btns">
                                    {#<a href="#">View Cart</a>#}
                                    <a href="{{ path('product_order_cart') }}">Buy all <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /Cart -->

                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>

{% block javascripts %}
    <script src="{{ asset('style/js/jquery.min.js') }}"></script>
    <script src="{{ asset('style/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('style/js/slick.min.js') }}"></script>
    <script src="{{ asset('style/js/nouislider.min.js') }}"></script>
    <script src="{{ asset('style/js/jquery.zoom.min.js') }}"></script>
    <script src="{{ asset('style/js/main.js') }}"></script>

    <script>
        function copyText(elementId) {
            var text = document.getElementById(elementId).textContent;
            navigator.clipboard.writeText(text).then(function() {
                alert("The text has been copied!");
            }, function() {
                alert("Couldn't copy text.");
            });
        }

        $(document).ready(function (){
            $(function (){
                let subtotal = 0;
                let userCart = [];

                {% for uC in (app.user.email is defined ? app.user.carts : 0) %}
                userCart.push({
                    productId: {{ uC.product.id }},
                    price: {{ uC.product.discount == 0 ?  uC.product.price : uC.product.discount }},
                });
                {% endfor %}
                let productInCart
                for (let i = 0 ; i < userCart.length; i++){
                    productInCart = document.getElementById(userCart[i].productId + '-in-cart');
                    $('.add-to-cart #5-in-cart button').empty();
                    productInCart.innerHTML = '<button class="added-to-cart" id="buttonAddTOCart" data-id='
                        + userCart[i].productId + ' data-price='
                        + userCart[i].price + '><i class="fa fa-check"></i> ADDED TO CART</button>'
                        + '<button class="buy-btn" ><i class="fa fa-shopping-cart"></i> Buy</button>';
                    subtotal+= userCart[i].price;
                }

                let cartSummary = document.getElementById('cart-summary');

                cartSummary.innerHTML = '<small>' + userCart.length + ' Item(s) selected</small><h5>SUBTOTAL: $' + subtotal + '</h5>';
            })
        });
    </script>
{% endblock %}