<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#" id="copyPhone" onclick="copyText('copyPhone')"><i class="fa fa-phone"></i> +48883602197</a></li>
                <li><a href="#" id="copyMail" onclick="copyText('copyMail')"><i class="fa fa-envelope-o"></i> poseva41@gmail.com</a></li>
                <li><a href="https://www.google.com/maps?q=Lublin,+Poland" target="_blank"><i class="fa fa-map-marker"></i>Lublin Poland</a></li>
            </ul>
            <ul class="header-links pull-right">
                {% if app.user.email is defined %}
                    <li class="my-account">
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <a href="/admin"><i class="fa fa-user-o"></i>Admin panel</a>
                        {% else %}
                            <a href="/account/show"><i class="fa fa-user-o"></i>{{ app.user.email }}</a>
                        {% endif %}
                        <div class="box-slide">
                            <p><a href="/logout" ><i class="fa fa-remove"></i>Log out</a></p>
                        </div>
                    </li>
                {% else %}
                    <li class="my-account">
                        <a href="#" ><i class="fa fa-male"></i>My account</a>
                        <div class="box-slide">
                            <p><a href="/login" ><i class="fa fa-user-o"></i>Log in</a></p>
                            <p><a href="/register" ><i class="fa fa-registered"></i>Registration</a></p>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="/" class="logo">
                            <img src="{{ asset('./style/img/$ellket.png') }}" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form action="{{ path('app_main_search') }}" name="search" method="post">
                            <input id="search" name="search" class="input" placeholder="Search here">
                            <button class="search-btn" type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Cart -->
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                {% if app.user.email is defined %}
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Your Cart</span>
                                    <div class="qty" id="cartCount">{{ app.user.carts | length }}</div>
                                {% endif %}
                            </a>
                            <div class="cart-dropdown">
                                <div class="cart-list">
                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img src="{{ asset('./style/img/product01.png') }}" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                                        </div>
                                        <button class="delete"><i class="fa fa-close"></i></button>
                                    </div>

                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img src="{{ asset('./style/img/product02.png') }}" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                            <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                                        </div>
                                        <button class="delete"><i class="fa fa-close"></i></button>
                                    </div>
                                </div>
                                <div class="cart-summary">
                                    <small>3 Item(s) selected</small>
                                    <h5>SUBTOTAL: $2940.00</h5>
                                </div>
                                <div class="cart-btns">
                                    <a href="#">View Cart</a>
                                    <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /Cart -->

                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>

{% block javascripts %}
    <script>

        function copyText(elementId) {
            var text = document.getElementById(elementId).textContent;
            navigator.clipboard.writeText(text).then(function() {
                alert("The text has been copied!");
            }, function() {
                alert("Couldn't copy text.");
            });
        }

        function hideElementsByClass(className) {
            var checkbox = document.getElementById(className);
            var elements = document.getElementsByClassName(className);

            for (var i = 0; i < elements.length; i++) {
                if (checkbox.checked) {
                    elements[i].style.display = "";
                } else {
                    elements[i].style.display = "none";
                }
            }
        }
    </script>
{% endblock %}