<!DOCTYPE html>
<html lang="en">
<!-- HEAD-->
{% include 'main/head.html.twig' %}
<!-- HEAD-->
<body>
<!-- HEADER -->
{% include 'main/header.html.twig' %}
<!-- /HEADER -->

{#<!-- NAVIGATION -->#}
{#<nav id="navigation">#}
{#    <!-- container -->#}
{#    <div class="container">#}
{#        <!-- responsive-nav -->#}
{#        <div id="responsive-nav">#}
{#            <!-- NAV -->#}
{#            <ul class="main-nav nav navbar-nav">#}
{#                <li class="active"><a href="#">Home</a></li>#}
{#                <li><a href="#">Hot Deals</a></li>#}
{#                <li><a href="#">Categories</a></li>#}
{#                <li><a href="#">Laptops</a></li>#}
{#                <li><a href="#">Smartphones</a></li>#}
{#                <li><a href="#">Cameras</a></li>#}
{#                <li><a href="#">Accessories</a></li>#}
{#            </ul>#}
{#            <!-- /NAV -->#}
{#        </div>#}
{#        <!-- /responsive-nav -->#}
{#    </div>#}
{#    <!-- /container -->#}
{#</nav>#}
{#<!-- /NAVIGATION -->#}

{#<!-- BREADCRUMB -->#}
{#<div id="breadcrumb" class="section">#}
{#    <!-- container -->#}
{#    <div class="container">#}
{#        <!-- row -->#}
{#        <div class="row">#}
{#            <div class="col-md-12">#}
{#                <h3 class="breadcrumb-header">Regular Page</h3>#}
{#                <ul class="breadcrumb-tree">#}
{#                    <li><a href="#">Home</a></li>#}
{#                    <li class="active">Blank</li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#        <!-- /row -->#}
{#    </div>#}
{#    <!-- /container -->#}
{#</div>#}
{#<!-- /BREADCRUMB -->#}

<!-- SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Categories</h3>
                    <div class="checkbox-filter">
                        {% for category in categoryRepository.findAll() %}
                            <div class="input-checkbox">
                                <input type="checkbox" id="{{ category.name }}" name="{{ category.name }}" onclick="hideElementsByClass('{{ category.name }}')" checked>
                                <label for="{{ category.name }}" >
                                    <span></span>
                                    {{ category.name }}
                                    <small>({{ productRepository.findByCategory(category) | length }})</small>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- /aside Widget -->

                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Price</h3>
                    <div class="price-filter">
                        <div id="price-slider"></div>
                        <div class="input-number price-min">
                            <input id="price-min" type="number" onchange="SortProductByPrice()">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                        <span>-</span>
                        <div class="input-number price-max">
                            <input id="price-max" type="number" onchange="SortProductByPrice()">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                    </div>
                </div>
                <!-- /aside Widget -->

                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Brand</h3>
                    <div class="checkbox-filter">
                        <div class="input-checkbox">
                            <input type="checkbox" id="brand-1">
                            <label for="brand-1">
                                <span></span>
                                SAMSUNG
                                <small>(578)</small>
                            </label>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="brand-2">
                            <label for="brand-2">
                                <span></span>
                                LG
                                <small>(125)</small>
                            </label>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="brand-3">
                            <label for="brand-3">
                                <span></span>
                                SONY
                                <small>(755)</small>
                            </label>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="brand-4">
                            <label for="brand-4">
                                <span></span>
                                SAMSUNG
                                <small>(578)</small>
                            </label>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="brand-5">
                            <label for="brand-5">
                                <span></span>
                                LG
                                <small>(125)</small>
                            </label>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="brand-6">
                            <label for="brand-6">
                                <span></span>
                                SONY
                                <small>(755)</small>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- /aside Widget -->

                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Top selling</h3>
                    <div class="product-widget">
                        <div class="product-img">
                            <img src="./img/product01.png" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        </div>
                    </div>

                    <div class="product-widget">
                        <div class="product-img">
                            <img src="./img/product02.png" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        </div>
                    </div>

                    <div class="product-widget">
                        <div class="product-img">
                            <img src="./img/product03.png" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        </div>
                    </div>
                </div>
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->

            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">
                        <label>
                            Sort By:
                            <select class="input-select">
                                <option value="0">Popular</option>
                                <option value="1">Position</option>
                            </select>
                        </label>

                        <label>
                            Show:
                            <select class="input-select">
                                <option value="0">20</option>
                                <option value="1">50</option>
                            </select>
                        </label>
                    </div>
                    <ul class="store-grid">
                        <li class="active"><i class="fa fa-th"></i></li>
                        <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                    </ul>
                    {% if search != null %}
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h3 class="title">Search by "{{ search.Word }}"</h3>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <!-- /store top filter -->

                <!-- store products -->
                <div class="row">
                    <!-- product -->
                    {% for product in search !=0 ? search.Object : productRepository.findAll() %}
                        <div class="col-md-4 col-xs-6 {{ product.price }} {{ product.category.name }}" id="{{ product.id }}-{{ product.name }}">
                            <div class="product">
                                <div class="product-img">
                                    {% if product.brochureFilename != null %}
                                        {% set a =  brochures_directory~product.brochureFilename %}
                                        <img src="{{ asset(brochures_directory~product.brochureFilename) }}" alt="{{ a }} image">
                                    {% else %}
                                        <img src="{{ asset('./uploads/brochures/girl.jpg') }}" alt="test image">
                                    {% endif %}
                                    <div class="product-label">
                                        {% if product.user.username is defined %}
                                        <span class="new">{{ product.user.username }}</span>
                                        {% else %}
                                        <span class="new">Admin</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="product-body">
                                    <p class="product-category">{{ product.category.name }}</p>
                                    <h3 class="product-name cut-and-hide"><a href="{{ path('app_product_show', { id: product.id }) }}"><span class="name-product">{{ product.name }}</span></a></h3>
                                    {% if product.discount != 0 %}
                                        <h4 class="product-price"> $<span class="price-product">{{ product.discount }} </span><del class="product-old-price"> ${{ product.price }} </del></h4>
                                    {% else %}
                                        <h4 class="product-price"> $<span class="price-product">{{ product.price }} </span></h4>
                                    {% endif %}
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product-btns">
                                        <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                        <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                        <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- /store products -->

                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    <span class="store-qty">Showing 20-100 products</span>
                    <ul class="store-pagination">
                        <li class="active">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- /SECTION -->

<!-- FOOTER -->
{% include 'main/footer.html.twig' %}
<!-- /FOOTER -->
<!-- jQuery Plugins -->
{% block javascripts %}
    <script>
        function SortProductByPrice() {

            var products = [];
            {% for product in search !=0 ? search.Object : productRepository.findAll() %}
            var item = {
                id: {{ product.id }},
                name: "{{ product.name }}",
                price: {{ product.price }},
                discount: {{ product.discount }}
            };
            products.push(item);
            {% endfor %}

            var inputMax = parseInt(document.getElementById("price-max").value);
            var inputMin = parseInt(document.getElementById("price-min").value);

            for (var i = 0; i < products.length; i++) {

                var variable = document.getElementById(products[i].id+'-'+products[i].name);
                if( products[i].discount > 0){
                    if(!(products[i].discount < inputMin  || products[i].discount > inputMax)){
                        variable.style.display = "";
                    }else {
                        variable.style.display = "none";
                    }
                }else if(!(products[i].price < inputMin  || products[i].price > inputMax)) {
                    variable.style.display = "";
                }else {
                    variable.style.display = "none";
                }
            }
        }
    </script>
{% endblock %}
<script src="{{ asset('style/js/jquery.min.js') }}"></script>
<script src="{{ asset('style/js/jquery.min.js') }}"></script>
<script src="{{ asset('style/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('style/js/slick.min.js') }}"></script>
<script src="{{ asset('style/js/nouislider.min.js') }}"></script>
<script src="{{ asset('style/js/jquery.zoom.min.js') }}"></script>
<script src="{{ asset('style/js/main.js') }}"></script>

</body>
</html>
