{{ form_start(form, {'attr': {'id': 'review-form', 'action': path('product_change_rating'), 'method': 'POST'}}) }}
<div class="form-group">
    {{ form_label(form.counter, null, {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.counter, {'attr': {'class': 'form-control', 'placeholder': 'Name'}}) }}
    {{ form_errors(form.counter) }}
</div>
<div class="form-group">
    {{ form_label(form.comment, null, {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.comment, {'attr': {'class': 'form-control', 'placeholder': 'Your Review'}}) }}
    {{ form_errors(form.comment) }}
</div>
<div class="create-button-container">
    <button class="primary-btn">Submit</button>
</div>
{{ form_end(form) }}
