<div class="panel-container">
    {{ form_start(form, {'attr': {'id': 'product-form', 'action': path('show_account')}}) }}
        <div class="form-group">
                {{ form_label(form.name, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Name'}}) }}
                {{ form_errors(form.name) }}
        </div>
        <div class="form-group">
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                {{ form_errors(form.description) }}
        </div>
        <div class="form-group">
                {{ form_widget(form.category, {'attr': {'class': 'form-control', 'placeholder': 'Category'}}) }}
                {{ form_errors(form.category) }}
        </div>
        <div class="form-group">
                {{ form_widget(form.brochure, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.brochure) }}
        </div>
        <div class="form-group">
                {{ form_widget(form.price, {'attr': {'class': 'form-control', 'placeholder': 'Price'}}) }}
                {{ form_errors(form.price) }}
        </div>
        <div class="form-group">
                {{ form_widget(form.discount, {'attr': {'class': 'form-control', 'placeholder': 'Discount'}}) }}
                {{ form_errors(form.discount) }}
        </div>
        <button type="submit" class="panel-continue">Create</button>
    {{ form_end(form) }}
</div>