<!DOCTYPE html>
<html lang="en">
{% include 'main/head.html.twig' %}

{% set averageRating = product.getReviews() | length == 0 ? 0 : product.getAverageRating() %}
	<body>
		<!-- HEADER -->
		{% include 'main/header.html.twig' %}
		<!-- /HEADER -->

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="/">Home</a></li>
							<li><a href="#">{% if product.category %}{{ product.category.name }}{% endif %}</a></li>
							<li class="active">{{ product.name }}</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<div class="img-div">
									{% if product.brochureFilename != null %}
										<img src="{{ asset(brochures_directory~product.brochureFilename) }}" alt="{{ product.name }}-image" class="img-product">
									{% else %}
										<img src="{{ asset('./style/img/girl.jpg') }}" alt="test image">
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
{#							<div class="product-preview">#}
{#								<img src="./img/product03.png" alt="">#}
{#							</div>#}
						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">{{ product.name }}</h2>
							<div>
								<div id="product-rating" class="product-rating">
									{% if product.getReviews() | length == 0 %}
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
									{% else %}
										{% for rating in 1..5 %}
											{% if rating <= averageRating %}
												<i class="fa fa-star"></i>
											{% else %}
												<i class="fa fa-star-o"></i>
											{% endif %}
										{% endfor %}
									{% endif %}
								</div>
								<a class="review-link" href="#product-tab">{{ product.getReviews() | length }} Review(s) | Add your review</a>
							</div>
							<div>
								{% if product.discount != 0%}
									<h4 class="product-price"> ${{ product.discount }} <del class="product-old-price"> ${{ product.price }} </del></h4>
								{% else %}
									<h4 class="product-price"> ${{ product.price }} </h4>
								{% endif %}
								<span class="product-available">In Stock</span>
							</div>

							<p>{{ product.description }}</p>

							{% if app.user.email is defined %}
								<div class="add-to-cart" id="{{ product.id }}-in-cart">
									<button class="add-to-cart-btn" data-id="{{ product.id }}"><i class="fa fa-shopping-cart"></i> add to cart</button>
									<a href="{{ path('product_order_cart', {"productId": product.id}) }}"><button class="buy-btn" id="buyButton"><i class="fa fa-shopping-cart"></i> Buy</button></a>
								</div>
							{% else %}
								<div class="add-to-cart">
									<a href="{{ path('product_order_cart', {"productId": product.id}) }}"><button class="buy-btn" id="buyButton"><i class="fa fa-shopping-cart"></i> Buy</button></a>
								</div>
							{% endif %}

							<ul class="product-links">
								<li>Category:</li>
								<li><a href="#">{% if product.category %}{{ product.category.name }}{% endif %}</a></li>
							</ul>

							<ul class="product-links">
								<li>Share:</li>
								<li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://twitter.com/?lang=ru" target="_blank"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://www.google.com/intl/ru/gmail/about/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
					<div class="col-md-12">
						<div id="product-tab">
							<!-- product tab nav -->
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">Reviews ({{ product.getReviews() | length }})</a></li>
								<li><a data-toggle="tab" href="#tab2">More products from this author({{  product.user == null ? 0 : product.user.getProducts() | length }})</a></li>
								{% set averageRating = product.getReviews() | length == 0 ? 0 : product.getAverageRating() %}
							</ul>
							<!-- /product tab nav -->

							<!-- product tab content -->
							<div class="tab-content">
								<!-- tab1  -->
								<div id="tab1" class="tab-pane fade in active">
									<div class="row">
										<!-- Rating -->
										<div class="col-md-3">
											<div id="rating">
												<div class="rating-avg">
													<span>{{ averageRating }}</span>
													<div class="rating-stars">
														{% if product.getReviews() | length == 0 %}
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														{% else %}
															{% for rating in 1..5 %}
																{% if rating <= averageRating %}
																	<i class="fa fa-star"></i>
																{% else %}
																	<i class="fa fa-star-o"></i>
																{% endif %}
															{% endfor %}
														{% endif %}
													</div>
												</div>
												<ul class="rating">
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<div class="rating-progress">
															<div style="width: 80%;"></div>
														</div>
														<span class="sum">3</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div style="width: 60%;"></div>
														</div>
														<span class="sum">2</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">0</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">0</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">0</span>
													</li>
												</ul>
											</div>
										</div>
										<!-- /review -->

										<!-- Reviews -->
										<div class="col-md-6">
											<div id="reviews">
												<ul class="reviews">
													{% for review in product.getReviews() %}
														<li>
															<div class="review-heading">
																<h5 class="name">{{ review.user.username }}</h5>
																<p class="date">{{ review.date | date("F j, Y, H:i:s") }}</p>
																{% for rating in 1..5 %}
																	{% if rating <= review.counter %}
																		<i class="fa fa-star"></i> <!-- Filled star -->
																	{% else %}
																		<i class="fa fa-star-o"></i> <!-- Empty star -->
																	{% endif %}
																{% endfor %}
															</div>
															<div class="review-body">
																<p> {{ review.comment != null ?  review.comment : '' }}</p>
															</div>
														</li>
													{% else %}
														<div class="section-title text-center alert alert-success">
															<h3 class="title">No review for this product.</h3>
														</div>
													{% endfor %}
												</ul>
												{#<ul class="reviews-pagination">
													<li class="active">1</li>
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#">4</a></li>
													<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
												</ul>#}
											</div>
										</div>
										<!-- /Reviews -->

										<!-- Review Form -->
										{% if app.user.email is defined %}
											<div class="col-md-3">
												<div id="review-form">
													{% include 'review/_form.html.twig'%}
												</div>
											</div>
										{% endif %}
										<!-- /Review Form -->
									</div>
								</div>
								<!-- /tab1  -->

								<!-- tab2  -->
								<div id="tab2" class="tab-pane fade in">
									<div class="row">
										<div class="col-md-12">
											{% if  product.user == null %}
												<div class="section-title text-center alert alert-success">
													<h3 class="title">No more products for this author.</h3>
												</div>
											{% else %}
												{% for product in product.user.getProducts() %}
													<div class="col-md-4 col-xs-6" id="{{ product.id }}-{{ product.name }}" style="min-height: 500px">
														<div class="product">
															<div class="product-img">
																{% if product.brochureFilename != null %}
																	<img src="{{ asset(brochures_directory~product.brochureFilename) }}" alt="{{ product.name }}-image" class="img-product">
																{% else %}
																	<img src="{{ asset('./style/img/girl.jpg') }}" alt="test image">
																{% endif %}
																<div class="product-label">
																	{% if product.user.username is defined %}
																		<span class="new">{{ product.user.username }}</span>
																	{% else %}
																		<span class="new">Admin</span>
																	{% endif %}
																</div>
															</div>
															<div class="product-body">
																<p class="product-category">{% if product.category %}{{ product.category.name }}{% endif %}</p>
																<h3 class="product-name cut-and-hide"><a href="{{ path('app_product_show', { id: product.id }) }}"><span class="name-product">{{ product.name }}</span></a></h3>
																{% if product.discount != 0 %}
																	<h4 class="product-price"> $<span class="price-product">{{ product.discount }} </span><del class="product-old-price"> ${{ product.price }} </del></h4>
																{% else %}
																	<h4 class="product-price"> $<span class="price-product">{{ product.price }} </span></h4>
																{% endif %}
																<div class="product-rating">
																	{% if product.getReviews() | length == 0 %}
																		<i class="fa fa-star-o"></i>
																		<i class="fa fa-star-o"></i>
																		<i class="fa fa-star-o"></i>
																		<i class="fa fa-star-o"></i>
																		<i class="fa fa-star-o"></i>
																	{% else %}
																		{% for rating in 1..5 %}
																			{% if rating <= product.getAverageRating %}
																				<i class="fa fa-star"></i>
																			{% else %}
																				<i class="fa fa-star-o"></i>
																			{% endif %}
																		{% endfor %}
																	{% endif %}
																</div>
															</div>
															{% if app.user.email is defined %}
																<div class="add-to-cart" id="{{ product.id }}-in-cart">
																	<button class="add-to-cart-btn" data-id="{{ product.id }}"><i class="fa fa-shopping-cart"></i> add to cart</button>
																</div>
															{% endif %}
														</div>
													</div>
												{% endfor %}
											{% endif %}
										</div>
									</div>
								</div>
								<!-- /tab2  -->

							</div>
							<!-- /product tab content  -->
						</div>
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- FOOTER -->
		{% include 'main/footer.html.twig' %}
		<!-- /FOOTER -->
		{% block javascripts %}
			<script>
				$(document).ready(function (){
					$(function (){
						$('body').on('click', '.add-to-cart-btn', function (){
							let id = $(this).attr('data-id');
							$.ajax({
								url: '{{ path('product_add_cart') }}',
								method: 'POST',
								data:  { productId: id},
								success: function(response) {

									let data = JSON.parse(response);
									let userCartCount = data[0].userCartCount;
									let cartCount = document.getElementById('cartCount');
									cartCount.innerHTML = userCartCount;

									let productInCart = document.getElementById(id + '-in-cart');
									productInCart.innerHTML  = '<button class="added-to-cart" id="buttonAddTOCart" data-id=' + id + '><i class="fa fa-check"></i> ADDED TO CART</button>'
									+ '<button class="buy-btn" ><i class="fa fa-shopping-cart"></i> Buy</button>';
								},
								error : function() {
									alert('Ajax request failed.');
								}
							});
						}).on('click', '.btn-success', function (){
							let id = $(this).attr('data-id');
							$.ajax({
								url: '{{ path('product_unset_cart') }}',
								method: 'POST',
								data: { productId: id},
								success: function (response){

									let data = JSON.parse(response);
									let userCartCount = data[0].userCartCount;
									let cartCount = document.getElementById('cartCount');
									cartCount.innerHTML = userCartCount;

									let productInCart = document.getElementById(id + '-in-cart');
									productInCart.innerHTML = '<button class="add-to-cart-btn" data-id=' + id +'><i class="fa fa-shopping-cart"></i> add to cart</button>'
									+ '<button class="buy-btn" ><i class="fa fa-shopping-cart"></i> Buy</button>';

								},
								error: function (){
									alert('Ajax request failed.');
								}
							})
						});
					})
					$(function (){
						let subtotal = 0;
						let userCart = [];

						{% for uC in (app.user.email is defined ? app.user.carts : 0) %}
						userCart.push({
							productId: {{ uC.product.id }},
							price: {{ uC.product.discount == 0 ?  uC.product.price : uC.product.discount }},
						});
						{% endfor %}
						let productInCart
						for (let i = 0 ; i < userCart.length; i++){
							productInCart = document.getElementById(userCart[i].productId + '-in-cart');
							$('.add-to-cart #5-in-cart button').empty();
							productInCart.innerHTML = '<button class="added-to-cart" id="buttonAddTOCart" data-id='
									+ userCart[i].productId + ' data-price='
									+ userCart[i].price + '><i class="fa fa-check"></i> ADDED TO CART</button>'
									+ '<button class="buy-btn" ><i class="fa fa-shopping-cart"></i> Buy</button>';
							subtotal+= userCart[i].price;
						}

						let cartSummary = document.getElementById('cart-summary');

						cartSummary.innerHTML = '<small>' + userCart.length + ' Item(s) selected</small><h5>SUBTOTAL: $' + subtotal + '</h5>';
					})
				});
			</script>
		{% endblock %}
	</body>
</html>
