<!DOCTYPE html>
<html lang="en">
	<!-- HEAD-->
	{% include 'main/head.html.twig' %}
	<!-- HEAD-->
	<body>
		<!-- HEADER -->
		{% include 'main/header.html.twig' %}
		<!-- /HEADER -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Billing address</h3>
							</div>
							{% include 'order/orderForm.html.twig'%}
							{#<div class="form-group">
								<input class="input" type="text" name="first-name" placeholder="First Name">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="last-name" placeholder="Last Name">
							</div>
							<div class="form-group">
								<input class="input" type="email" name="email" placeholder="Email">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="address" placeholder="Address">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="city" placeholder="City">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="country" placeholder="Country">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="zip-code" placeholder="ZIP Code">
							</div>
							<div class="form-group">
								<input class="input" type="tel" name="tel" placeholder="Telephone">
							</div>#}
						</div>
						<!-- /Billing Details -->

						<!-- /Shiping Details -->

						<!-- /order notes -->
					</div>

					<!-- order Details -->
					<div class="col-md-5 order-details">

						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">


							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							<div class="order-products">
								<div class="cart-list" style="overflow-y: scroll; max-height: 365px">
									{% if userCarts is defined %}
										{% for cart in userCarts %}
											<div class="order-col">
												<div>{{ cart.product.name }}</div>
												<div>${{ cart.product.discount == 0 ?  cart.product.price : cart.product.discount }}</div>
											</div>
										{% endfor %}
									{% else %}
										<div class="order-col">
											<div>{{ product.name }}</div>
											<div>${{ product.discount == 0 ?  product.price : product.discount }}</div>
										</div>
									{% endif %}
								</div>
							</div>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total">${{ price }}</strong></div>
							</div>
						</div>
					</div>
					<!-- /order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- FOOTER -->
		{% include 'main/footer.html.twig' %}
		<!-- /FOOTER -->
		<!-- jQuery Plugins -->
		{% block javascripts %}
			<script src="{{ asset('style/js/jquery.min.js') }}"></script>
			<script src="{{ asset('style/js/jquery.min.js') }}"></script>
			<script src="{{ asset('style/js/bootstrap.min.js') }}"></script>
			<script src="{{ asset('style/js/slick.min.js') }}"></script>
			<script src="{{ asset('style/js/nouislider.min.js') }}"></script>
			<script src="{{ asset('style/js/jquery.zoom.min.js') }}"></script>
			<script src="{{ asset('style/js/main.js') }}"></script>

			<script>
				$(document).ready(function (){
					$(function (){
						/*$('body').on('click', '#placeOrderButton', function (){

						});*/
					})
				});
			</script>
		{% endblock %}
	</body>
</html>
